@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Russo+One&display=swap");

body {
	font-family: "Comfortaa";
	margin: 0;
}
.wrapper {
	//background-color: red;
	width: 80%;
	margin: 0 auto;
	font-size: 33px;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

nav a {
	//background-color: yellow;
}

h1 {
	font-size: 222px;
	margin: 0;
	padding-top: 60px;
	text-align: center;
	color: #11314a;
}
h2 {
	font-size: 60px;
	color: white;
	padding-left: 3%;
}
header {
	background-color: #7297b1;
	padding: 20px 60px 20px 60px;
}
.fotoh img {
	width: 100%;
	margin-bottom: -4px;
}
a {
	border-radius: 5px;
	padding: 8px 18px;
	color: white;
	text-decoration: none;
	display: flow-root;
	transition: backgrond-color 0.5s, transform 0.5s;
	transition-timing-function: ease-out;
}
a:hover {
	background-color: none;
	transform: translateY(-5px);
}
.skills {
	background-color: #7297b1;
	padding-left: 5%;
	padding-top: 60px;
	padding-bottom: 60px;
}

h3 {
	color: white;
	font-size: 60px;
	padding-left: 3%;
}
h4 {
	color: white;
	font-size: 33px;
	margin-bottom: 10px;
	padding-left: 3%;
}
.kader1 {
	width: 90%;
	height: 3%;
	background-color: white;
	margin-left: 3%;
}
.vulling1 {
	width: 75%;
	height: 50px;
	background-color: #11314a;
}

.vulling2 {
	width: 80%;
	height: 50px;
	background-color: #11314a;
}

.vulling3 {
	width: 90%;
	height: 50px;
	background-color: #11314a;
}

.vulling4 {
	width: 75%;
	height: 50px;
	background-color: #11314a;
}
.mijnwerk {
	background-color: #b0c5cc;
	padding-left: 5%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.kader2 {
	margin-left: 3%;
	width: 90%;
	height: 150px;
	background-color: #11314a;
}
h5 {
	color: #11314a;
	font-size: 43px;
	margin-top: 10px;
	margin-left: 6%;
}
