@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Russo+One&display=swap");

body {
	font-family: "Comfortaa";
	margin: 0;
}
.wrapper {
	//background-color: red;
	width: 80%;
	margin: 0 auto;
	font-size: 33px;
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

nav a {
	//background-color: yellow;
}

h1 {
	font-size: 65px;
	margin: 0;
	padding-top: 16px;
	text-align: left;
	color: #11314a;
	margin-left: 1%;
}

h2 {
	font-size: 33px;
	color: white;
	padding-left: 50px;
	padding-top: 50px;
}
h3 {
	font-size: 22px;
	color: #11314a;
	padding-left: 50px;
	padding-right: 50px;
}
header {
	background-color: #7297b1;
	padding: 20px 60px 20px 60px;
}

a {
	border-radius: 5px;
	padding: 8px 18px;
	color: white;
	text-decoration: none;
	display: flow-root;
	transition: backgrond-color 0.5s, transform 0.5s;
	transition-timing-function: ease-out;
}
a:hover {
	background-color: none;
	transform: translateY(-5px);
}
.contact {
	margin-bottom: -4px;
	background-color: #b0c5cc;
	margin: none;
	width: 100%;
}

.contactFoto {
	width: 50%;
	height: 800px;
	display: inline-block;
	background-color: #2d3134;
	position: relative;
	float: left;
}
.aboutImage {
	background-image: url("afbeeldingen/1x/boksfoto.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.aboutText {
	width: 50%;
	height: 800px;
	display: inline-block;

	position: relative;
	float: left;
	vertical-align: middle;
}
.een {
	background-color: #7aa5b8;
}

.basis {
	font-size: 20px;
	color: white;
	padding-left: 20px;
}
